.sync-text h3 {
    margin: 0 0 4px;
}

.sync-text p {
    margin: 0;
}

.status-message {
    margin: 0;
}

.status-card {
    border-left: 5px solid transparent;

    &.healthy {
        border-left-color: var(--color-success);
    }

    &.warning {
        border-left-color: var(--color-warning);
    }

    &.error {
        border-left-color: var(--color-danger);
    }
}

.icon-healthy {
    color: var(--color-success);
}

.icon-warning {
    color: var(--color-warning);
}

.icon-error {
    color: var(--color-danger);
}
