.connection-indicator {
  mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
  }

  &.connected mat-icon {
    color: var(--color-success);
  }

  &.connecting mat-icon {
    color: var(--color-warning);
  }

  &.disconnected mat-icon {
    color: var(--color-muted);
  }
}

.spinning {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.help-text .inline-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
